* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.body {
  height: 100vh;
  display: grid;
  grid-template-columns: 252px 440px auto;
}
.left {
  background-color: #131313;
}
.middle {
  background-color: #f8f8f8;
}
.right {
  background-color: #ffffff;
}
